<header id="header" class=" fixed-top header-transparent">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <a href="#" class="logo float-left"><img src="static/img/logo_white.png" alt="" class=""></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-menu float-right d-lg-block" id="navbarNav">
                <ul class="navbar-nav float-right">
                    <li class="nav-item active"><a class="scrollto" data-scroll="home" href="#hero">Home</a></li>
                    <li class="nav-item active"><a class="scrollto" data-scroll="about" href="#about">About Us</a></li>
                    <li class="nav-item active"><a class="scrollto" data-scroll="values" href="#values">Our Values</a></li>
                    <li class="nav-item active"><a class="scrollto" data-scroll="work" href="#work">Work</a></li>
                    <li class="nav-item active"><a class="scrollto" data-scroll="contact" href="#contact">Contact Us</a></li>
                </ul>

            </div>
        </nav><!-- .nav-menu -->

</header><!-- End Header -->
