<section class="about" id="about">
    <div class="container">

        <div class="section-title">
            <h2>We deliver the fintech revolution</h2>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5">

            </div>
            <div class="col-md-12">
                <p>Founded in London UK, Iban is a market leader in alternative finance compliance and marketing services across Europe. With a heavy emphasis on financial technologies, the firm holds relationships with Peer to Peer Lenders, Electronic money firms and loan originators.</p>


            </div>


        </div>

    </div>
</section>