<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container " data-ride="carousel" style="        background-color: #263238;
        opacity: 0.8;">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-7 col-md-12">
                <h2>Global leadership in fintech consulting and marketing</h2>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-lg-8 col-md-12">
                <p >
                    Fostered by the industry’s most innovative, collaborative and diverse talent; we deliver pioneering, competitive ideas based on actionable market inefficiencies.
                </p>
            </div>
        </div>
    </div>
</section><!-- End Hero -->