<section class="home" id="home">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-7 col-md-12">
                <h1>Global leadership in fintech consulting and marketing</h1>
            </div>
        </div>
                <div class="row" data-aos="fade-up">

                    <div class="col-lg-7 col-md-12">
                        <p>
                            Fostered by the industry’s most innovative, collaborative and diverse talent; we deliver pioneering, competitive ideas based on actionable market inefficiencies.

                        </p>

                    </div>
                </div>
            </div>
</section>
