<section class="values">
    <div class="container">

        <div class="section-title">
            <h2>Our Values</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch"data-aos="fade-up" data-aos-duration="150" data-aos-delay="0">
                        <div class="icon-box icon-box-pink">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4 class="title"><a href="">Forward Thinking</a></h4>
                            <p class="description">We provide Information, tools and support. These include; webinars, training, workshops and self serve options to help educate, inform and bring your firm to the next level.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up"  data-aos-duration="150" data-aos-delay="100">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4 class="title"><a href="">Leading the way</a></h4>
                            <p class="description">
                                Iban Online Ltd’s global leadership in marketing and compliance is fostered by the industry’s most innovative, collaborative and diverse talent. Together our people deliver compliant, creative  and competitive ideas based on actionable industry insights.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-duration="150" data-aos-delay="200">
                        <div class="icon-box icon-box-green">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4 class="title"><a href="">Our Greatest Asset</a></h4>
                            <p class="description">We are committed to developing our employees through ongoing education, improvement and training.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-duration="150" data-aos-delay="300">
                        <div class="icon-box icon-box-blue">
                            <div class="icon"><i class="bx bx-world"></i></div>
                            <h4 class="title"><a href="">Commitment to diversity</a></h4>
                            <p class="description">We are committed to recruiting, developing and retaining a world-class workforce that reflects our global community. It's important to us that our people encompass diverse backgrounds, experiences and perspectives.</p>
                        </div>
                    </div>

                </div>


</section>